<!doctype html>
<html ng-app="Robot99000">

<head>
  <script src="..\..\..\node_modules\angular\angular.min.js"></script>
  <script src="main.js"></script>
</head>

<body ng-controller="MainController">

  <div>
    <h1>{{message}}</h1>
  </div>
  <form name="move" ng-submit="checkCase(directions)">
      <input type="search" required placeholder="directions to cut" ng-model="directions" />
      <input type="submit" value="Search">
  </form>
  <form name="matrix" ng-submit="createMatrix(rows,cols,'0')">
    <input type="create" required placeholder="Rows" ng-model="rows" />
    <input type="create" required placeholder="Cols" ng-model="cols" />    
    <input type="submit" value="create">
</form>
</body>

</html>